<div class="card card-collapse">
    <div class="card-header p-3" role="tab" id="headingTwo">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Section Two - Your skills
                <i class="material-icons">keyboard_arrow_down</i>
            </a>
        </h5>
    </div>

    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body p-2">
            <div class="card m-0">
                <div class="card-body p-2">
                    <p><strong>Please self assess against the following the knowledge areas.</strong></p>
                    <form method="#" action="#">
                        <div class="row">
                            <div class="col-md-12">
                                 <div class="form-group">

                                    <div class="col-md-3">
                                        <label for="formName" class="bmd-label-floating">Name:</label>
                                        <input type="text" class="form-control form-input-color" id="formName">
                                    </div>

                                    <div class="col-md-3">
                                        <label for="formName" class="bmd-label-floating">Name:</label>
                                        <input type="text" class="form-control form-input-color" id="formName">
                                    </div>

                                    <div class="col-md-3">
                                        <label for="formName" class="bmd-label-floating">Name:</label>
                                        <input type="text" class="form-control form-input-color" id="formName">
                                    </div>

                                    <div class="col-md-3">
                                        <label for="formName" class="bmd-label-floating">Name:</label>
                                        <input type="text" class="form-control form-input-color" id="formName">
                                    </div>
                                 </div>
                            </div> <!-- Close 12 Cols -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>