<div class="card">
    <div class="card-header card-header-text card-header-rose">
        <div class="card-text">
            <h4 class="card-title">Section <i>One</i></h4>
        </div>
    </div>
    <div class="card-body">
        <form method="#" action="#">

            <div class="form-group">
                <label for="skillexName" class="bmd-label-floating">Your name:</label>
                <input type="text" class="form-control" id="skillexName">
            </div>

            <div class="form-group">
                <label for="skillexRacf" class="bmd-label-floating">Your Racf:</label>
                <input type="text" class="form-control" id="skillexRacf">
            </div>

            <div class="form-group">
                <label for="skillexTitle" class="bmd-label-floating">Your job title:</label>
                <input type="text" class="form-control" id="skillexTitle">
            </div>
            <br>
            <h6><strong>PLEASE PROCEED TO SECTION TWO</strong></h6>

        </form>
    </div>
</div>
