<div class="card">
    <div class="card-header card-header-text card-header-info">
        <div class="card-text">
            <h4 class="card-title">Section <i>Three</i></h4>
        </div>
    </div>
    <div class="card-body">
        <form method="#" action="#">

            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <h5><strong>Microfocus LoadRunner</strong></h5>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_1"
                                       id="sk1e"
                                       value="expert" checked>
                                Expert
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_1"
                                       id="sk1a"
                                       value="advanced">
                                Advanced
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_1"
                                       id="sk1c"
                                       value="competent">
                                Competent
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_1"
                                       id="sk1i"
                                       value="intermediate">
                                Intermediate
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_1"
                                       id="sk1n"
                                       value="novice">
                                Novice or None
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                   <div class="form-group">
                        <h5><strong>Microfocus Silk Performer</strong></h5>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_2"
                                       id="sk2e"
                                       value="expert" checked>
                                Expert
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_2"
                                       id="sk2a"
                                       value="advanced">
                                Advanced
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_2"
                                       id="sk2c"
                                       value="competent">
                                Competent
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_2"
                                       id="sk2i"
                                       value="intermediate">
                                Intermediate
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_2"
                                       id="sk2n"
                                       value="novice">
                                Novice or None
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5><strong>Java Development</strong></h5>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_3"
                                       id="sk3e"
                                       value="expert" checked>
                                Expert
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_3"
                                       id="sk3a"
                                       value="advanced">
                                Advanced
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_3"
                                       id="sk3c"
                                       value="competent">
                                Competent
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_3"
                                       id="sk3i"
                                       value="intermediate">
                                Intermediate
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_3"
                                       id="sk3n"
                                       value="novice">
                                Novice or None
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5><strong>Automation</strong></h5>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_4"
                                       id="sk4e"
                                       value="expert" checked>
                                Expert
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_4"
                                       id="sk4a"
                                       value="advanced">
                                Advanced
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_4"
                                       id="sk4c"
                                       value="competent">
                                Competent
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_4"
                                       id="sk4i"
                                       value="intermediate">
                                Intermediate
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_4"
                                       id="sk4n"
                                       value="novice">
                                Novice or None
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>

             <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h5><strong>Jenkins</strong></h5>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_5"
                                       id="sk5e"
                                       value="expert" checked>
                                Expert
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_5"
                                       id="sk5a"
                                       value="advanced">
                                Advanced
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_5"
                                       id="sk5c"
                                       value="competent">
                                Competent
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_5"
                                       id="sk5i"
                                       value="intermediate">
                                Intermediate
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_5"
                                       id="sk5n"
                                       value="novice">
                                Novice or None
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                   <div class="form-group">
                        <h5><strong>Elasticsearch</strong></h5>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_6"
                                       id="sk6e"
                                       value="expert" checked>
                                Expert
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_6"
                                       id="sk6e"
                                       value="advanced">
                                Advanced
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_6"
                                       id="sk6c"
                                       value="competent">
                                Competent
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_6"
                                       id="sk6i"
                                       value="intermediate">
                                Intermediate
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_6"
                                       id="sk6n"
                                       value="novice">
                                Novice or None
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5><strong>InfluxDB</strong></h5>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_7"
                                       id="sk7e"
                                       value="expert" checked>
                                Expert
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_7"
                                       id="sk7a"
                                       value="advanced">
                                Advanced
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_7"
                                       id="sk7c"
                                       value="competent">
                                Competent
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_7"
                                       id="sk7i"
                                       value="intermediate">
                                Intermediate
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_7"
                                       id="sk7n"
                                       value="novice">
                                Novice or None
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5><strong>Javascript</strong></h5>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_8"
                                       id="sk8e"
                                       value="expert" checked>
                                Expert
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_8"
                                       id="sk8a"
                                       value="advanced">
                                Advanced
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_8"
                                       id="sk8c"
                                       value="competent">
                                Competent
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_8"
                                       id="sk8i"
                                       value="intermediate">
                                Intermediate
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="skill_8"
                                       id="sk8n"
                                       value="novice">
                                Novice or None
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
                <br>
                <p class="btn btn-primary" id="skillSubmit">Submit</p>
                <div class="p-3"></div>

        </form>
    </div>
</div>
