<div class="card">
    <div class="card-header card-header-text card-header-primary">
        <div class="card-text">
            <h4 class="card-title">Section <i>Two</i></h4>
        </div>
    </div>
    <div class="card-body">
        <form method="#" action="#">

            <div class="form-group">
                <label for="skillexStrongest" class="bmd-label-floating">My strongest skill:</label>
                <input type="text" class="form-control" id="skillexStrongest">
            </div>

            <div class="form-group">
                <label for="skillexWeakest" class="bmd-label-floating">My weakest skill:</label>
                <input type="text" class="form-control" id="skillexWeakest">
            </div>

            <div class="form-group">
                <label for="skillexDevelopment" class="bmd-label-floating">Skill I would like to develop:</label>
                <input type="text" class="form-control" id="skillexDevelopment">
            </div>
             <br>
            <h6><strong>PLEASE PROCEED TO SECTION THREE</strong></h6>
        </form>
    </div>
</div>
